.hidden {
  display: none;
}

.header__container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: var(--font-secondary);
  font-size: 2.4rem;
  font-weight: 550;
  color: var(--heading-color);
}

.theme__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--heading-color);
}

.dark__icon,
.light__icon {
  cursor: pointer;
  transition: 0.5s;
}

.light__icon:hover {
  opacity: 70%;
}

.dark__icon:hover {
  opacity: 70%;
}
